* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  min-height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 73px;
  width: 200px;
}
nav .logo img {
  min-height: 73px;
  width: 73px;
}
nav .logo .logo-txt {
  font-size: 16px;
  font-family: "Segoe UI";
}
nav .search {
  min-height: 44px;
  width: 604px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #587c83;
}
nav .search img {
  min-height: 25px;
  width: 25px;
  margin-left: 10px;
}
nav .search .search-txt {
  font-size: 16px;
  font-family: "Segoe UI";
}
nav .links {
  min-height: 108px;
  width: 590px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: "Segoe UI";
}
nav .links .accountImg {
  min-height: 47px;
  width: 47px;
}
nav .links .accountImg img {
  min-height: 47px;
  width: 47px;
}
nav .links .cartImg {
  min-height: 47px;
  width: 47px;
}
nav .links .cartImg img {
  min-height: 47px;
  width: 47px;
}

.home-wrapper {
  min-height: 100%;
  width: 100%;
}
.home-wrapper .home-header-container {
  min-height: 530px;
  width: 100%;
}
.home-wrapper .home-header-container .home-header-img {
  min-height: 530px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 58px;
}
.home-wrapper .home-header-container .home-header-img .hero-img {
  min-height: 530px;
  width: 80%;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.home-wrapper .home-header-container .home-header-img .hero-header-text {
  min-height: 52px;
  width: 160px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 65%;
}
.home-wrapper .home-header-container .home-header-img .hero-txt {
  min-height: 43px;
  width: 265px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: #fff;
}
.home-wrapper .home-header-container .home-header-img .hero-txt-two {
  min-height: 43px;
  width: 265px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Segoe UI";
  color: #fff;
}
.home-wrapper .home-books-container {
  min-height: 100%;
  width: 100%;
  margin-top: 170px;
}
.home-wrapper .home-books-container .home-books-row {
  min-height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-wrapper .home-books-container .home-books-row .home-book {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 415px;
  margin-bottom: 170px;
}
.home-wrapper .home-books-container .home-books-row .home-book img {
  min-height: 491px;
  width: 306px;
  margin: 0 auto;
}
.home-wrapper .home-books-container .home-books-row .home-book .book-txt {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-family: "Segoe UI";
}
.home-wrapper .home-books-container .home-books-row .home-book .price-txt {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  font-family: "Segoe UI";
}
.home-wrapper .home-books-container .home-books-row .home-book .book-btn {
  margin: 0 auto;
  width: 222px;
  border: 2px solid #000;
  color: #000;
  height: 68px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .home-wrapper .home-header-container {
    min-height: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }
  .home-wrapper .home-header-container .home-header-img {
    min-height: 400px;
    width: 80%;
    margin: 58px;
    background-color: #587c83;
  }
  .home-wrapper .home-header-container .home-header-img .hero-img {
    min-height: 200px;
    width: 250px;
    position: static;
    right: 60%;
    background-image: url(../images/home-hero.jpg);
  }
  .home-wrapper .home-header-container .home-header-img .hero-header-text {
    min-height: 200px;
    width: 250px;
    position: static;
    right: 50%;
  }
  .home-wrapper .home-books-container .home-books-row {
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .home-wrapper .home-books-container .home-books-row .home-book {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: 415px;
    margin-bottom: 170px;
  }
}
.about-wrapper {
  min-height: 100%;
  width: 100%;
}
.about-wrapper .about-top-container {
  min-height: 500px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 170px;
}
.about-wrapper .about-top-container .about-top-img {
  min-height: 587px;
  width: 393px;
}
.about-wrapper .about-top-container .about-top-img img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-wrapper .about-top-container .about-top-text {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
}
.about-wrapper .about-top-container .about-top-text .about-txt-one {
  font-size: 32px;
  font-weight: bold;
  font-family: "Segoe UI";
}
.about-wrapper .about-top-container .about-top-text .about-txt-two {
  font-size: 26px;
  font-weight: bold;
  font-family: "Segoe UI";
  margin: 40px;
}
.about-wrapper .about-top-container .about-top-text .about-txt-three {
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI";
}
.about-wrapper .about-bottom-container {
  min-height: 500px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 auto;
}
.about-wrapper .about-bottom-container .about-bottom-img {
  min-height: 587px;
  width: 393px;
}
.about-wrapper .about-bottom-container .about-bottom-img img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-wrapper .about-bottom-container .about-bottom-text {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
}
.about-wrapper .about-bottom-container .about-bottom-text .about-txt-four {
  font-size: 32px;
  font-weight: bold;
  font-family: "Segoe UI";
}
.about-wrapper .about-bottom-container .about-bottom-text .about-txt-five {
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI";
}

.books-wrapper {
  min-height: 100%;
  width: 100%;
}
.books-wrapper .books-top-container {
  min-height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 200px;
}
.books-wrapper .books-top-container .books-top-header-text {
  min-height: 50px;
  width: 90%;
  z-index: 99;
  margin-top: 140px;
  margin-bottom: 80px;
}
.books-wrapper .books-top-container .books-top-header-text .books-txt {
  font-size: 26px;
  font-weight: bold;
  font-family: "Segoe UI";
}
.books-wrapper .books-top-container .books-top-row-container {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.books-wrapper .books-top-container .books-top-row-container .books-img {
  min-height: 200px;
  width: 200px;
  margin-right: 40px;
}
.books-wrapper .books-top-container .books-top-row-container .books-img img {
  min-height: 200px;
  width: 200px;
  object-fit: cover;
}
.books-wrapper .books-top-container .books-top-row-container .books-text {
  min-height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.books-wrapper .books-top-container .books-top-row-container .books-text .book-txt {
  font-size: 16px;
  font-family: "Segoe UI";
  margin-bottom: 40px;
}
.books-wrapper .books-top-container .books-top-row-container .books-text .book-price {
  font-size: 16px;
  font-family: "Segoe UI";
  margin-bottom: 40px;
}
.books-wrapper .books-top-container .books-top-row-container .books-text .book-btn {
  margin: 0 auto;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  height: 68px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .books-wrapper .books-top-row-container {
    display: flex;
    flex-direction: column;
  }
  .books-wrapper .books-top-row-container .books-text {
    margin: 80px 0;
  }
}
.accounts-page {
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.accounts-page h3 {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 400;
}
.accounts-page p {
  font-size: 16px;
}
.accounts-page #submit-signup, .accounts-page #submit-login, .accounts-page #submit-logout {
  width: 170px;
  height: 45px;
  color: white;
  background-color: #587C83;
  font-size: 16px;
}
.accounts-page .login-form {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}
.accounts-page .login-form input {
  border: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
.accounts-page .sign-up-form {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}
.accounts-page .sign-up-form input {
  border: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.logout-content {
  width: 60%;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}
.logout-content #logout {
  width: 170px;
  height: 45px;
  color: white;
  background-color: #587C83;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .accounts-page {
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
  }
  .accounts-page .sign-up-form, .accounts-page .login-form, .accounts-page .logout {
    margin-top: 90px;
  }
}
.blog-section {
  width: 80%;
  height: 460px;
  margin: 0 auto;
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #587C83;
}
.blog-section .large-image-section {
  width: 30%;
  height: 460px;
}
.blog-section .large-image-section img {
  height: 460px;
  width: 626px;
  align: left;
}
.blog-section .img-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog-section .img-section img {
  max-height: 380px;
  max-width: 250px;
}
.blog-section .text-section {
  color: white;
  text-align: center;
  width: 35%;
  padding-right: 100px;
}
.blog-section .text-section h3 {
  font-size: 32px;
  margin-bottom: 60px;
}
.blog-section .text-section p {
  font-size: 16px;
  margin-bottom: 60px;
}
.blog-section .text-section a {
  width: 222px;
  height: 69px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-decoration: none;
  color: white;
  padding: 20px;
}
.blog-section .text-section-large {
  color: white;
  text-align: center;
  width: 35%;
  padding-right: 100px;
}
.blog-section .text-section-large h3 {
  font-size: 32px;
  margin-bottom: 60px;
}
.blog-section .text-section-large p {
  font-size: 16px;
  margin-bottom: 60px;
}
.blog-section .text-section-large a {
  width: 222px;
  height: 69px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-decoration: none;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 1250px) {
  .blog-section {
    height: 229px;
    width: 552px;
  }
  .blog-section .img-section {
    height: 146px;
  }
  .blog-section .img-section img {
    width: 97px;
    height: 146px;
  }
  .blog-section .large-image-section {
    height: 229px;
  }
  .blog-section .large-image-section img {
    height: 229px;
    width: 300px;
  }
  .blog-section .text-section, .blog-section .text-section-large {
    padding-right: 25px;
  }
  .blog-section .text-section h3, .blog-section .text-section-large h3 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .blog-section .text-section p, .blog-section .text-section-large p {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .blog-section .text-section a, .blog-section .text-section-large a {
    width: 89px;
    height: 34px;
    padding: 8px;
    font-size: 12px;
  }
}
.hero-blog-feb {
  width: 80%;
  height: 460px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/february-favorites-hero.png");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 140px;
  color: white;
  text-align: center;
}
.hero-blog-feb h3 {
  padding-top: 125px;
  font-size: 32px;
}
.hero-blog-feb h4 {
  font-size: 26px;
  padding-top: 60px;
}
.hero-blog-feb p {
  font-size: 16px;
  padding-top: 60px;
}

.bhblogpost {
  width: 80%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 140px;
}
.bhblogpost img {
  width: 250px;
  height: 380px;
}
.bhblogpost .bh-text-section {
  width: 70%;
  padding-left: 20px;
}
.bhblogpost .bh-text-section h3 {
  font-size: 26px;
}
.bhblogpost .bh-text-section p {
  font-size: 16px;
}

.bookclub-hero {
  width: 80%;
  height: 460px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/book-club-hero.png");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 140px;
  color: white;
  text-align: center;
}
.bookclub-hero h3 {
  padding-top: 125px;
  font-size: 32px;
}
.bookclub-hero h4 {
  font-size: 26px;
  padding-top: 60px;
}

.ereading-hero {
  width: 80%;
  height: 460px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/eread-hero.png");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 140px;
  color: white;
  text-align: center;
}
.ereading-hero h3 {
  padding-top: 125px;
  font-size: 32px;
}
.ereading-hero h4 {
  font-size: 26px;
  padding-top: 60px;
}

.blog-post-section {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 100px;
}
.blog-post-section img {
  max-height: 463px;
  max-width: 622px;
}
.blog-post-section .blog-text-section {
  padding-left: 20px;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .blog-post-section img {
    width: 260px;
    height: 205px;
  }
}
@media screen and (max-width: 800px) {
  .blog-post-section img {
    width: 115px;
    height: 95px;
  }
}
.cart-items {
  padding-top: 50px;
}
.cart-items .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  padding-left: 50px;
  padding-bottom: 100px;
}
.cart-items .cart-item .cart-item-img {
  padding-top: 100px;
}
.cart-items .cart-item .cart-item-img img {
  width: 205px;
  height: 317px;
}
.cart-items .cart-item .cart-item-text {
  padding-left: 22px;
}
.cart-items .cart-item .cart-item-text .item-title, .cart-items .cart-item .cart-item-text .item-price {
  font-size: 16px;
  font-weight: bold;
}
.cart-items .cart-item .cart-item-text .item-title {
  padding-bottom: 17px;
}
.cart-items .cart-item .cart-item-text .item-price {
  padding-bottom: 5px;
}
.cart-items .cart-item .cart-item-text .in-stock {
  font-size: 16px;
  padding-bottom: 43px;
}

footer {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #587c83;
}
footer .left {
  min-height: 50px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .left .foot-txt {
  color: #fff;
  font-size: 16px;
  font-family: "Segoe UI";
}
footer .mid {
  min-height: 50px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .mid .foot-txt {
  color: #fff;
  font-size: 16px;
  font-family: "Segoe UI";
  text-decoration: none;
}
footer .right {
  min-height: 50px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .right img {
  min-height: 22px;
  width: 22px;
}

/*# sourceMappingURL=styles.css.map */
