.accounts-page{
    width:90%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    .login-form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .sign-up-form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
}