.accounts-page{
    width:50%;
    margin: 0 auto;
    margin-top:200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    h3{
        font-size: 26px;
        margin-bottom:25px;
        font-weight:400;
    }
    p{
        font-size: 16px;
    }

    #submit-signup, #submit-login, #submit-logout{
        width:170px;
        height:45px;
        color:white;
        background-color: #587C83;
        font-size:16px;
    }

    .login-form{
       
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        input{
            border:0px;
            border-bottom: 1px solid black;
            margin-bottom:40px;
        }
    }

    .sign-up-form{
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;

        input{
            border:0px;
            border-bottom: 1px solid black;
            margin-bottom:40px;
        }
    }

   
}

.logout-content{

    width:60%;
    height:600px;
    
    padding-top:100px;
    margin: 0 auto;
    text-align:center;

    #logout{
        width:170px;
        height:45px;
        color:white;
        background-color: #587C83;
        font-size:16px;
    }
}




@media screen and (max-width: 1000px) {
    .accounts-page{
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0px;
        .sign-up-form, .login-form, .logout{
            margin-top:90px;
        }

    }
  }