.books-wrapper {
  min-height: 100%;
  width: 100%;

  .books-top-container {
    min-height: 400px;
    width: 90%;
    margin: 0 auto;
    // background-color: red;

    .books-top-header-text {
      min-height: 50px;
      width: 90%;
      z-index: 99;
      margin-top: 140px;
      margin-bottom: 80px;
      //   background-color: purple;

      .books-txt {
        font-size: 26px;
        font-weight: bold;
        font-family: "Segoe UI";
      }
    }

    .books-top-row-container {
      min-height: 400px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 auto;
      //   background-color: aqua;

      .books-img {
        min-height: 200px;
        width: 200px;
        margin-right: 40px;
        img {
          min-height: 200px;
          width: 200px;
          object-fit: cover;
        }
      }
      .books-text {
        min-height: 100px;
        width: 200px;
        // background-color: red;
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        .book-txt {
          font-size: 16px;
          font-family: "Segoe UI";
          margin-bottom: 40px;
        }
        .book-price {
          font-size: 16px;
          font-family: "Segoe UI";
          margin-bottom: 40px;
        }
        .book-btn {
          margin: 0 auto;
          border: 2px solid #000;
          background-color: #fff;
          color: #000;
          height: 68px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
      }
      //   }
    }
  }
}

@media screen and (max-width: 1000px) {
  .books-wrapper {
    .books-top-row-container {
      display: flex;
      flex-direction: column;
      .books-img {
        img {
        }
      }
      .books-text {
        margin: 80px 0;
      }
    }
  }
}
