.home-wrapper {
  min-height: 100%;
  width: 100%;

  .home-header-container {
    min-height: 530px;
    width: 100%;

    // background-color: red;

    .home-header-img {
      min-height: 530px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 58px;
      //   background-color: purple;

      .hero-img {
        min-height: 530px;
        width: 80%;
        background-image: linear-gradient(
            rgba(88, 124, 131, 0.6),
            rgba(88, 124, 131, 0.6)
          ),
          url(../images/home-hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
      }

      .hero-header-text {
        min-height: 52px;
        width: 160px;
        display: flex;
        flex-direction: column;

        position: absolute;
        // top: 75%;
        left: 65%;
        // transform: translate(-50%, -50%);
      }

      .hero-txt {
        min-height: 43px;
        width: 265px;
        font-size: 32px;
        font-weight: bold;
        font-family: "Segoe UI";
        color: #fff;
        // background-color: red;
      }
      .hero-txt-two {
        min-height: 43px;
        width: 265px;
        margin-top: 20px;
        font-size: 16px;
        font-family: "Segoe UI";
        color: #fff;
        // background-color: red;
      }
    }
  }

  .home-books-container {
    min-height: 100%;
    width: 100%;
    margin-top: 170px;
    // background-color: purple;

    .home-books-row {
      min-height: 700px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .home-book {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100%;
        width: 415px;
        margin-bottom: 170px;

        img {
          min-height: 491px;
          width: 306px;
          margin: 0 auto;
        }

        .book-txt {
          margin-top: 30px;
          text-align: center;
          font-size: 16px;
          font-family: "Segoe UI";
        }

        .price-txt {
          padding: 30px;
          text-align: center;
          font-size: 16px;
          font-family: "Segoe UI";
        }

        .book-btn {
          margin: 0 auto;
          width: 222px;
          border: 2px solid #000;
          color: #000;
          height: 68px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
      }
    }
  }
}

// note to self: fix header img
@media screen and (max-width: 1000px) {
  .home-wrapper {
    .home-header-container {
      min-height: 530px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: red;

      .home-header-img {
        min-height: 400px;
        width: 80%;
        margin: 58px;
        background-color: #587c83;

        // fix this...
        .hero-img {
          height: 200px;
          width: 200px;
          background-image: url(../images/home-hero.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
    .home-books-container {
      .home-books-row {
        min-height: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .home-book {
          display: flex;
          align-items: center;
          flex-direction: column;
          min-height: 100%;
          width: 415px;
          margin-bottom: 170px;
        }
      }
    }
  }
}
