.home-wrapper {
  min-height: 100%;
  width: 100%;

  .home-header-container {
    min-height: 530px;
    width: 100%;

    background-color: red;

    .home-header-img {
      min-height: 530px;
      width: 1500px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 58px;
      background-color: purple;

      .hero-img {
        min-height: 530px;
        width: 1500px;
        background-image: linear-gradient(
            rgba(88, 124, 131, 0.6),
            rgba(88, 124, 131, 0.6)
          ),
          url(../images/home-hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
      }

      .hero-header-text {
        min-height: 52px;
        width: 160px;
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 70%;
        left: 80%;
        transform: translate(-50%, -50%);
      }

      .hero-txt {
        min-height: 43px;
        width: 265px;
        font-size: 32px;
        font-weight: bold;
        font-family: "Segoe UI";
        color: #fff;
        // background-color: red;
      }
      .hero-txt-two {
        min-height: 43px;
        width: 265px;
        margin-top: 20px;
        font-size: 16px;
        font-family: "Segoe UI";
        color: #fff;
        // background-color: red;
      }
    }
  }
}
