nav {
  min-height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 73px;
    width: 200px;

    img {
      min-height: 73px;
      width: 73px;
    }

    .logo-txt {
      font-size: 16px;
      font-family: "Segoe UI";
    }
  }

  .search {
    min-height: 44px;
    width: 604px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #587c83;

    img {
      min-height: 25px;
      width: 25px;
      margin-left: 10px;
    }

    .search-txt {
      font-size: 16px;
      font-family: "Segoe UI";
    }
  }

  .links {
    min-height: 108px;
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
      font-family: "Segoe UI";
    }

    .accountImg {
      min-height: 47px;
      width: 47px;

      img {
        min-height: 47px;
        width: 47px;
      }
    }

    .cartImg {
      min-height: 47px;
      width: 47px;

      img {
        min-height: 47px;
        width: 47px;
      }
    }
  }
}
